body {
  font-size: 20px;
}

code {
  background: #363636;
  padding: 2px 9px;
  color: #31cc28;
  border-radius: 4.8px;
  display: inline-block;
  white-space: pre-wrap;
}

.decoration-none {
  text-decoration: none;
}

main ul,
main ol {
  margin-left: 0;
  list-style-position: inside;
}

a {
  color: hsla(0, 0%, 0%, 0.9);
}

main a {
  box-shadow: none;
  text-decoration: underline;
  color: #1469ca;
}

blockquote {
  border-color: #9c9c9c;
}

.btn {
  background-color: #1469ca;
  border-radius: 2em;
  color: #ffffff !important;
  padding: 0.8rem 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  background-color: #1675e0;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #787ef3, #42abaf);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* utility */
.u-text-center {
  text-align: center !important;
}
.u-margin-top {
  margin-top: 1rem !important;
}
